<div class="row">
  <div class="col-6 offset-3"><h3>Account Login</h3>
    <hr>
   <!-- <div class="alert alert-danger" *ngIf="error">
      {{message}}
    </div>
    <div class="alert alert-success" th:if="${param.logout != null}">
      You have been logged out.
    </div>-->
    <form method="post" (ngSubmit)="!loginForm.invalid && login()" #loginForm="ngForm">
      <div class="form-group"><label for="email">Username</label>
        <input type="text" class="form-control"
               name="username" id="email" required
               [(ngModel)]="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control"
               name="password" id="password" required
               [(ngModel)]="password">
      </div>
      <div class="form-group">
        <input type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe">&nbsp;<label for="rememberMe">Remember Me</label>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
