<h1>Edit Todo</h1>
<hr>

<div class="row">
  <div class="col-4">
    <form method="post" (ngSubmit)="!todoForm.invalid && updateTodo(todoForm)" #todoForm="ngForm">
      <ngb-alert [type]="'success'" *ngIf="success" (close)="success = false">
        <strong>Success!</strong> Todo is updated.
      </ngb-alert>
      <div class="form-group">
        <label class="text-muted">Description</label>
        <input type="text" name="description" [(ngModel)]="todo.description" #description="ngModel" id="description"
               class="form-control"
               [ngClass]="{ 'is-invalid': todoForm.submitted && description.invalid }"/>
        <div class="invalid-feedback" *ngIf="todoForm.submitted && description.invalid">
          <p *ngIf="description.errors.required">Description is required</p>
        </div>
      </div>
      <div class="form-group">
        <label class="text-muted">Target Date</label>
        <div class="input-group">
          <input type="text" name="targetDate" placeholder="dd/MM/yyyy"
                 [ngModel]="todo.targetDate | date:'dd/MM/yyyy'"
                 (ngModelChange)="todo.targetDate = $event"
                 id="targetDate" class="form-control" required  bsDatepicker
                 [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY' }"/>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
</div>
