<h1>Create a Todo</h1>
<hr>

<div class="row">
  <div class="col-4">
    <form method="post" (ngSubmit)="todoForm.form.valid && createTodo()" #todoForm="ngForm">

      <div class="alert alert-danger" *ngIf="todoForm.dirty && todoForm.invalid">
        Please fix the following errors:
        <ul>
          <li *ngIf="targetDate.invalid">Please select a date</li>
        </ul>
      </div>

      <div class="form-group">
        <label class="text-muted">Description</label>
        <input type="text" name="description" #description="ngModel"
               [(ngModel)]="todo.description" id="description"
               class="form-control" required
               [ngClass]="{ 'is-invalid': description.invalid && description.touched }"/>
        <div class="invalid-feedback" *ngIf="description.invalid && description.touched">
          <p *ngIf="description.errors.required">Description is required</p>
        </div>
      </div>
      <div class="form-group">
        <label class="text-muted">Target Date</label>
        <div class="input-group">
          <input type="text" name="targetDate" #targetDate="ngModel"
                 [(ngModel)]="todo.targetDate"
                 id="targetDate" class="form-control" required ngbDatepicker #d="ngbDatepicker"/>
          <div class="input-group-append">
            <button class="btn btn-secondary" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i>
            </button>
          </div>
          <div class="invalid-feedback" *ngIf="todoForm.submitted && targetDate.invalid">
            <p *ngIf="targetDate.errors.required">Target date is required</p>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="todoForm.invalid">Create</button>
    </form>
  </div>
</div>
